div.image-left {
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

img.image-left {
    border: 1px solid black;
}

img.image-left.noborder {
    border: 0;
}

div.image-center {
    text-align: center;
    margin-bottom: 2rem;
    background-color: white;
}

img.image-center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

div.image-right {
    text-align: center;
    display: inline-block;
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

img.image-right {
    border: 1px solid black;
}

img.image-right.noborder {
    border: 0;
}

