/* below here from https://www.w3schools.com/howto/howto_css_arrows.asp */
/* usage: <i class="arrow right"></i> */
.sectionbreak {
    clear:both;
}

i {
  border: solid magenta;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* above here from https://www.w3schools.com/howto/howto_css_arrows.asp */

/* below used to label literature cited entries as being applicable to specific exams */
/* usage: <examtag>Exam 4</examtag> <i class="arrow right"></i> */
examtag {
    color:magenta;
    font-weight:bold;
    display:inline;
    float:left;
}

.notready {
    background-color:yellow;
    color:red;
    font-weight:bold;
    text-align:center;
}

.rightsideimage {
    float:right;
    padding:0 20px 20px 20px;
}

table.persontable td:first-child {
	width:20%;
	text-align:right;
}

table#lecturestable td:nth-child(2) {
	width:15%;
}

table#lecturestable td:nth-child(4) {
	width:30%;
}

/* from https://css-tricks.com/overriding-default-button-styles/ */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
